.mainImage {
    border-radius: 70%;
    width: 30%;
    height: 30%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
.logoImage{
  width: 50px; 
  height: 50px;
 
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
  .logoImage{
    width: 40px; 
    height: 40px;
   
  }
}

.align {
     text-align: center;
}

body {
    background-image: url('img/wp.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      -webkit-animation: slidein 30s;
      animation: slidein 30s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
    
    @-webkit-keyframes slidein {
      from {
        background-position: top;
        background-size: 3000px;
      }
    
      to {
        background-position: -100px 0px;
        background-size: 2750px;
      }
    }
    
    @keyframes slidein {
      from {
        background-position: top;
        background-size: 3000px;
      }
    
      to {
        background-position: -100px 0px;
        background-size: 2750px;
      }
    
    }



.wrapper{
  width: 100%;
  max-width: 540px;
  margin: 0 auto; 
  padding:25px
  }

  .contents{
    display: flex;
    justify-content: center;
  }
  .box{
    padding: 3px;
    width: 76px;
  }
