.mainimage {
    border-radius: 70%;
    width: 25;
    height: 25%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
}

.alignImage {
     text-align: center;
}

body {
    background-image: url('img/wp.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
  #icons{
    text-align: center;
  }

.wrapper{
  width: 100%;
  max-width: 540px;
  margin: 0 auto; 
  padding:25px
  }

  .contents{
    display: flex;
    justify-content: center;
  }
  .box{
    padding: 5px;
  }
